h1 span.g{
	color:blue;

}
h1 span.o1{
	color:red;
}	
h1 span.o2{
	color:orange;
}
h1 span.g3{
	color:blue;
}
h1 span.l4{
	color:green;
}
h1 span.e5{
	color:red;
}
h1.fb{
	color:blue
}
p.fbp{
	color:blue
}
h1.wht{
	color:green

}
p.whtp{
	color:green
}