h1{
	color:red;
	text-align:center;
	font-family:QuickType;
}
h2{
	color:yellow;
}
p{
	color:white;
	text-align:justify;
	font-size:24px;
	font-family:Playbill;
	
}
body{
	background-color:black;
}
